body{
  background-color:rgb(30, 30, 30);
}
#body {
  margin: 0 auto;
  max-width: 60em;
}
.logo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  
}
cyan {
  color:cyan;
}
.title {
  text-align: center;
  color: white;
  font-size: 300%;

}
.intro {
  color: rgb(255, 255, 255);
  font-size: 150%;
}
.subhead {
  font-family: sans-serif;
  color:white;
  font-size: 220%;
}
.list-head {
  font-family: sans-serif;
  color: white;
  font-size: 180%;
}
.list {
  color: rgb(19, 243, 243);
  list-style-type:square;
  font-family:courier;
  font-size: 150%;
}
.link{
  color:white;
  font-size: 150%;
}
.link :hover{
  color: rgb(8, 202, 245);
  text-decoration:none;
}
.social {
  color:white;
  font-size: 150%;
}
.header {
  overflow: hidden;
  padding: 5px;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #111111;
}

.header a {
  border-radius: 5px;
  display: block;
  font-family: sans-serif;
  line-height: 25px;
  text-decoration: none;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
  font-size: 150%;
  float:right;
  color: rgb(0, 255, 255);
  transition: 0.5s;
}

.header a:hover {
  background-color:rgb(0, 255, 255);
  color: rgb(255, 255, 255);
}

#enter-button {
  text-align: center;
  align-items: center;
  font-size: 24px;
  top:50%;
  left:50%;
  color:#fff;
  display: inline-block;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  position: absolute;
}
#enter-button:hover {
  background-color: transparent; /* change the background color on hover */
  color: rgb(0, 255, 255); /* change the text color on hover */
  border: 2px solid rgb(0, 255, 255);
  cursor: pointer; /* change the cursor to a pointer on hover */
}
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  }
.HA {
  display: block;
  width:"250";
  
  height:"250";
}
.text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: 150%;
}
.flowchart {
  float: left;
  width: 250px;
  margin-right: 20px;
}